.todo-search {
    position: relative;
    margin: 16px 0;
    min-width: 320px;
    text-align: center;
}

.todo-search__input {
    position: relative;
    padding: 5px 10px;
    border: 1px solid black;
    width: 200px;
    height: 36px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    background-color: #E9ECEF;
    outline: none;
    box-shadow: #212529 3px 3px;
}